<!doctype html>
<html lang="en">

<div style="color: white">
    <h1 align="center">Welcome to Kolorblind</h1>

    <img src="../../Imagens/Kolorblind.png" style="width: 128px;height:128px;" >

    <p>Choose a file (video or image) and we will give you the same file with a color identification system.</p>
    <p>You can also choose if you want to check this live, by using your webcam.</p>    
    <form>
        <input type="file" name="file" accept="image/*">
        <br>
        <button (click) = "uploadImage()">Add File</button>
    </form>
</div>

</html>